<div class="form__actions">
  <button type="submit" class="button button--primary">
    {{t "save"}} {{global.display_name}}
  </button>
  <a class="button button--ghost" href="/admin"
    hx-get="/admin" hx-target="body" hx-push-url="true">
    {{t "cancel"}}
  </a>
</div>
