<form id="edit-form"
      hx-post="/admin/globals/{{global.slug}}"
      action="/admin/globals/{{global.slug}}"
      method="post"
      hx-target="body"
      class="form"
      novalidate>
  {{#if has_locales}}
  <input type="hidden" name="_locale" value="{{current_locale}}" />
  {{/if}}
  {{#each fields}}
  <div class="form__field">
    {{{render_field this}}}
  </div>
  {{/each}}
</form>
