.list {
  list-style-type: none;
  padding: unset;
}

.list__row {
  display: flex;
  border-bottom: 1px solid rgb(240 240 240);
  padding: 1rem 0;
}

.list__cell--30 {
  width: 30%;
}

.list__cell--grow {
  flex-grow: 1;
}
